body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow:
    1px 1px 0px #A79277,
    -1px 1px 0px #A79277,
    1px -1px 0px #A79277,
    -1px -1px 0px #A79277;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #EAD8C0;
    color: #D1BB9E;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: #A79277;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #A79277;
    border-radius: 10%;
}

body > main article {
    width: 80%;
    margin: auto;
}

body > main > div > aside > section > nav > a {
    text-decoration: none;
}

#main-content {
    color: black;
    display: flex;
    justify-content: space-around;
    background-color:#FFF2E1;
}

#fosterpets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main > #main-content > div > article > #fosterpets > .box > nav > ul > a {
    text-decoration: none;
    list-style: none;
    color: black;
}

body > main > #fosterpets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-content > div {
    width: 60%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: #FFF2E1;
}

hr {
    background-color: #FFF2E1;
}

form {
    background-color: #FFF2E1;
}

body > footer {
    background-color: #EAD8C0;
    display: flex;
    color: #D1BB9E
}

img {
    border-radius: 25%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow:
    1px 1px 0px #A79277,
    -1px 1px 0px #A79277,
    1px -1px 0px #A79277,
    -1px -1px 0px #A79277;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: #A79277;
    text-decoration: none;
}
